<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- BANNER
        ================================================== -->
        <section class="p-0">
            <div class="container-fluid px-0 z-index-2 position-relative">
                <div class="slider-fade-02 owl-carousel owl-theme w-100">
                    <div class="item bg-img cover-background pt-6 pb-10 pt-sm-6 pb-sm-14 py-md-16 py-lg-20 py-xxl-24 dark-overlay" data-overlay-dark="4" data-background="~/img/banner/banner-02.jpg">
                        <div class="container pt-6 pt-md-0 my-xxl-4">
                            <div class="row justify-content-end text-end align-items-center">
                                <div class="col-md-10 col-lg-8 col-xl-7">
                                    <h1 class="display-17 display-sm-11 display-md-9 display-lg-8 display-xl-3 display-xxl-2 mb-lg-3 text-white">Nutrition With <span class="text-primary">Hygienic </span>Food</h1>
                                    <p class="lead opacity7 text-white mb-1-6 mb-md-2-2">We encourage you to fix and forestall illness with nourishment for carrying on with your life in a solid manner.</p>
                                    <a href="contact.html" class="butn-style01 secondary"><span>Get Started Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item bg-img cover-background pt-6 pb-10 pt-sm-6 pb-sm-14 py-md-16 py-lg-20 py-xxl-24 dark-overlay" data-overlay-dark="4" data-background="~/img/banner/banner-02.jpg">
                        <div class="container pt-6 pt-md-0 my-xxl-4">
                            <div class="row justify-content-end text-end align-items-center">
                                <div class="col-md-10 col-lg-8 col-xl-7">
                                    <h1 class="display-17 display-sm-11 display-md-9 display-lg-8 display-xl-3 display-xxl-2 mb-lg-3 text-white">Keeping Your Body at its<span class="text-primary"> Best.</span></h1>
                                    <p class="lead opacity7 text-white mb-1-6 mb-md-2-2">We encourage you to fix and forestall illness with nourishment for carrying on with your life in a solid manner.</p>
                                    <a href="contact.html" class="butn-style01 secondary"><span>Get Started Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item bg-img cover-background pt-6 pb-10 pt-sm-6 pb-sm-14 py-md-16 py-lg-20 py-xxl-24 dark-overlay" data-overlay-dark="4" data-background="~/img/banner/banner-03.jpg">
                        <div class="container pt-6 pt-md-0 my-xxl-4">
                            <div class="row justify-content-end text-end align-items-center">
                                <div class="col-md-10 col-lg-8 col-xl-7">
                                    <h1 class="display-17 display-sm-11 display-md-9 display-lg-8 display-xl-3 display-xxl-2 mb-lg-3 text-white">Loss The Fat Eat Right, <span class="text-primary">Be Right</span></h1>
                                    <p class="lead opacity7 text-white mb-1-6 mb-md-2-2">We encourage you to fix and forestall illness with nourishment for carrying on with your life in a solid manner.</p>
                                    <a href="contact.html" class="butn-style01 secondary"><span>Get Started Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT US
        ================================================== -->
        <section class="bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3">
                        <div class="pe-xxl-2-3">
                            <span class="title-font text-primary display-25 display-md-23 d-block mb-1">About Us</span>
                            <h2 class="display-25 display-sm-20 display-md-20 display-xl-9 font-weight-600 mb-3">A healthy diet is essential for good health and <span class="fw-bolder text-secondary"> Nutrition</span></h2>
                            <p class="mb-4 w-md-95 mb-xl-5">Eating wholesome meals withinside the proper quantities offers your frame strength to carry out day by day activities, lets you hold a wholesome frame weight, and might decrease your chance for positive sicknesses inclusive of diabetes and coronary heart disease.</p>
                            <div>
                                <h4 class="mb-5">Nutrition Special Features</h4>
                                <div class="row mt-n3">
                                    <div class="col-sm-6">
                                        <div class="nutrition-list">
                                            <ul class="p-0 mb-0 list-unstyled">
                                                <li class="mb-3 font-weight-600 display-30 display-md-29 display-lg-30 display-xl-29 display-xxl-28"><i class="ti-angle-double-right me-2 text-secondary"></i>Physical exercise</li>
                                                <li class="mb-3 font-weight-600 display-30 display-md-29 display-lg-30 display-xl-29 display-xxl-28"><i class="ti-angle-double-right me-2 text-secondary"></i>Lifestyle In Pregnancy</li>
                                                <li class="mb-3 font-weight-600 display-30 display-md-29 display-lg-30 display-xl-29 display-xxl-28"><i class="ti-angle-double-right me-2 text-secondary"></i>Ways to Follow Diet</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="nutrition-list">
                                            <ul class="p-0 list-unstyled">
                                                <li class="mb-3 font-weight-600 display-30 display-md-29 display-lg-30 display-xl-29 display-xxl-28"><i class="ti-angle-double-right me-2 text-secondary"></i>Supplement Necessities</li>
                                                <li class="mb-3 font-weight-600 display-30 display-md-29 display-lg-30 display-xl-29 display-xxl-28"><i class="ti-angle-double-right me-2 text-secondary"></i>Protein Advice</li>
                                                <li class="mb-3 font-weight-600 display-30 display-md-29 display-lg-30 display-xl-29 display-xxl-28"><i class="ti-angle-double-right me-2 text-secondary"></i>A Nutrition Lifestyle</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-0 order-1 order-lg-2">
                        <div class="row mt-1-6">
                            <div class="col-6">
                                <div class="people-story overflow-hidden border-radius-10 mb-4">
                                    <img class="border-radius-10" src="~/img/content/about-01.jpg" alt="...">
                                </div>
                                <div class="people-story overflow-hidden border-radius-10">
                                    <img class="border-radius-10" src="~/img/content/about-02.jpg" alt="...">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="position-relative overflow-hidden">
                                    <div class="mb-5 mb-sm-10">
                                        <div class="people-story overflow-hidden border-radius-10">
                                            <img class="border-radius-10" src="~/img/content/about-03.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="story-video video-column text-center">
                                        <a class="video video_btn bg-primary" href="https://www.youtube.com/watch?v=bREPaPWc2zI">
                                            <i class="fas fa-play text-center"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 bg-secondary position-absolute rounded-circle top-10 right-5 ani-left-right d-none d-md-block"></div>
            <div class="p-5 bg-primary position-absolute rounded-circle bottom-5 left-5 ani-left-right d-none d-lg-block"></div>
        </section>

        <!-- SERVICE
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <span class="title-font text-primary display-25 display-md-23 d-block mb-1">What we offer</span>
                    <h2 class="display-25 display-sm-20 display-md-20 display-xl-9 font-weight-600 mb-3">Our Diet & Nutrition<span class="fw-bolder text-secondary"> Services</span></h2>
                    <p class="mb-0 w-md-80 w-lg-70 w-xl-50 mx-auto">We connect buyers and sellers of natural, organic, environmentally sound products. We find the best suppliers and makers of natural and organic products.</p>
                </div>
                <div class="service-carousel owl-carousel owl-theme gx-xxl-5 mt-n10">

                    <div class="mt-10">
                        <div class="card-style1">
                            <img src="~/img/services/service-01.jpg" alt="..." class="border-top-radius-10">
                            <div class="card-body p-0">
                                <div class="position-relative main-title overflow-hidden">
                                    <h3 class="title"><a href="balance-body-mind.html">Balance Body & Mind</a></h3>
                                </div>
                                <p class="text-white opacity9 mb-0">Our nutrition team love the benefits of exercise and healthy food.</p>
                                <div class="card-btn-part"><a class="card-butn" href="balance-body-mind.html">More Details <i class="ti-arrow-right align-middle ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="card-style1">
                            <img src="~/img/services/service-02.jpg" alt="..." class="border-top-radius-10">
                            <div class="card-body p-0">
                                <div class="position-relative main-title overflow-hidden">
                                    <h3 class="title"><a href="personalized-nutrition.html">Personalized Nutrition</a></h3>
                                </div>
                                <p class="text-white opacity9 mb-0">Our nutrition team love the benefits of exercise and healthy food.</p>
                                <div class="card-btn-part"><a class="card-butn" href="personalized-nutrition.html">More Details <i class="ti-arrow-right align-middle ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="card-style1">
                            <img src="~/img/services/service-03.jpg" alt="..." class="border-top-radius-10">
                            <div class="card-body p-0">
                                <div class="position-relative main-title overflow-hidden">
                                    <h3 class="title"><a href="fitness-performance.html">Fitness Performance</a></h3>
                                </div>
                                <p class="text-white opacity9 mb-0">Our nutrition team love the benefits of exercise and healthy food.</p>
                                <div class="card-btn-part"><a class="card-butn" href="fitness-performance.html">More Details <i class="ti-arrow-right align-middle ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="card-style1">
                            <img src="~/img/services/service-04.jpg" alt="..." class="border-top-radius-10">
                            <div class="card-body p-0">
                                <div class="position-relative main-title overflow-hidden">
                                    <h3 class="title"><a href="healthy-daily-life.html">Healthy Daily Life</a></h3>
                                </div>
                                <p class="text-white opacity7 mb-0">Our nutrition team love the benefits of exercise and healthy food.</p>
                                <div class="card-btn-part"><a class="card-butn" href="healthy-daily-life.html">More Details <i class="ti-arrow-right align-middle ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="card-style1">
                            <img src="~/img/services/service-05.jpg" alt="..." class="border-top-radius-10">
                            <div class="card-body p-0">
                                <div class="position-relative main-title overflow-hidden">
                                    <h3 class="title"><a href="support-motivation.html">Support & Motivation</a></h3>
                                </div>
                                <p class="text-white opacity7 mb-0">Our nutrition team love the benefits of exercise and healthy food.</p>
                                <div class="card-btn-part"><a class="card-butn" href="support-motivation.html">More Details <i class="ti-arrow-right align-middle ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="card-style1">
                            <img src="~/img/services/service-06.jpg" alt="..." class="border-top-radius-10">
                            <div class="card-body p-0">
                                <div class="position-relative main-title overflow-hidden">
                                    <h3 class="title"><a href="weight-loss-programs.html">Weight Loss Programs</a></h3>
                                </div>
                                <p class="text-white opacity7 mb-0">Our nutrition team love the benefits of exercise and healthy food.</p>
                                <div class="card-btn-part"><a class="card-butn" href="weight-loss-programs.html">More Details <i class="ti-arrow-right align-middle ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-secondary p-2-2 rounded-circle position-absolute bottom-10 left-5 d-none d-lg-block"></div>
            <div class="bg-primary p-3 rounded-circle position-absolute bottom-10 left-5 ani-top-bottom d-none d-lg-block"></div>
        </section>

        <!-- EXTRA
        ================================================== -->
        <section class="bg-img cover-background extra-section dark-overlay" data-overlay-dark="9" data-background="~/img/bg/bg-06.png">
            <div class="container">
                <div class="row justify-content-left">
                    <div class="col-lg-6">
                        <span class="title-font text-primary display-25 display-md-23 d-block mb-1">Healty Food, For Breakfast.</span>
                        <h2 class="mb-sm-2-3 display-20 display-sm-15 display-xl-9 display-xxl-6 font-weight-600 text-white">The Decision Is Yours To Make You <span class="fw-bolder text-secondary">Healthy</span></h2>
                        <a href="contact.html" class="butn bg-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- COUNTER
        ================================================== -->
        <section class="p-1-9 p-md-5 bg-secondary">
            <div class="container">
                <div class="row text-center position-relative z-index-1 mt-n1-6">
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-1-6 mb-sm-1-9 mb-lg-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="flex-shrink-0 display-14 display-sm-12 display-lg-10 text-white title-font fw-bold w-75px w-lg-auto">
                                <span class="countup">15</span>k
                            </div>
                            <div class="flex-grow-1 ms-3 ms-xl-4 text-start">
                                <h4 class="h6 text-white mb-0 text-uppercase lh-base">Happy <br>Customers</h4>
                            </div>
                            <img src="~/img/icons/icon-02.png" class="position-absolute opacity3 left-n5 bottom-95 left-xxl-n10 bottom-lg-n50" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-1-6 mb-sm-1-9 mb-lg-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="flex-shrink-0 display-14 display-sm-12 display-lg-10 text-white title-font fw-bold w-75px w-lg-auto">
                                <span class="countup">3</span>k
                            </div>
                            <div class="flex-grow-1 ms-3 ms-xl-4 text-start">
                                <h4 class="h6 text-white mb-0 text-uppercase lh-base">Nutrition <br>Programs</h4>
                            </div>
                            <img src="~/img/icons/icon-04.png" class="position-absolute opacity3 left-70 bottom-95 left-lg-65 bottom-lg-n50" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-1-6 mb-sm-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="flex-shrink-0 display-14 display-sm-12 display-lg-10 text-white title-font fw-bold w-75px w-lg-auto">
                                <span class="countup">78</span>+
                            </div>
                            <div class="flex-grow-1 ms-3 ms-xl-4 text-start">
                                <h4 class="h6 text-white mb-0 text-uppercase lh-base">Nutrition <br>Certificates</h4>
                            </div>
                            <img src="~/img/icons/icon-03.png" class="position-absolute opacity3 left-n5 top-95 left-lg-20 top-lg-n60" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-1-6">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="flex-shrink-0 display-14 display-sm-12 display-lg-10 text-white title-font fw-bold w-75px w-lg-auto">
                                <span class="countup">8</span>+
                            </div>
                            <div class="flex-grow-1 ms-3 ms-xl-4 text-start">
                                <h4 class="h6 text-white mb-0 text-uppercase lh-base">Workout <br>Sessions</h4>
                            </div>
                            <img src="~/img/icons/icon-01.png" class="position-absolute opacity3 left-70 top-95 left-lg-95 top-lg-n60" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PRICING
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <span class="title-font text-primary display-25 display-md-23 d-block mb-1">Our plans</span>
                    <h2 class="display-25 display-sm-20 display-md-20 display-xl-9 font-weight-600 mb-3">Pick Your Suitable<span class="fw-bolder text-secondary"> Offer</span></h2>
                    <p class="mb-0 w-md-80 w-lg-70 w-xl-50 mx-auto">We connect buyers and sellers of natural, organic, environmentally sound products. We find the best suppliers and makers of natural and organic products.</p>
                </div>
                <div class="row g-xl-5 mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="card card-style2 border-radius-10">
                            <div class="card-header position-relative">
                                <h3 class="mb-0 h4 text-white">Body Sculpting</h3>
                                <div class="pricing-box">
                                    <img src="~/img/icons/icon-06.png" alt="...">
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-center mt-3 mb-0">
                                <h4 class="display-5 mb-0 font-weight-600">59</h4>
                                <span class="align-self-end fw-bolder display-30 display-sm-28">$ / month</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-style1">
                                    <li>Diet Recommendation</li>
                                    <li>Motivation program</li>
                                    <li>Weight Assessment</li>
                                    <li>Nutrition Strategies</li>
                                </ul>
                                <div class="text-center">
                                    <a class="butn secondary" href="contact.html">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="card card-style2 border-radius-10">
                            <div class="card-header bg-secondary">
                                <h3 class="text-white mb-0 h4">Post Pregnancy</h3>
                                <div class="pricing-box bg-primary">
                                    <img src="~/img/icons/icon-08.png" alt="...">
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-center mt-3 mb-0">
                                <h4 class="display-5 mb-0 font-weight-600">199</h4>
                                <span class="align-self-end fw-bolder display-30 display-sm-28">$ / month</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-style1">
                                    <li>Diet Recommendation</li>
                                    <li>Motivation program</li>
                                    <li>Weight Assessment</li>
                                    <li>Nutrition Strategies</li>
                                </ul>
                                <div class="text-center">
                                    <a class="butn" href="contact.html">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class="card card-style2 border-radius-10">
                            <div class="card-header">
                                <h3 class="text-white mb-0 h4">Standard Plan</h3>
                                <div class="pricing-box">
                                    <img src="~/img/icons/icon-07.png" alt="...">
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-center mt-3 mb-0">
                                <h4 class="display-5 mb-0 font-weight-600">99</h4>
                                <span class="align-self-end fw-bolder display-30 display-sm-28">$ / month</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-style1">
                                    <li>Diet Recommendation</li>
                                    <li>Motivation program</li>
                                    <li>Weight Assessment</li>
                                    <li>Nutrition Strategies</li>
                                </ul>
                                <div class="text-center">
                                    <a class="butn secondary" href="contact.html">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL
        ================================================== -->
        <section class="testimonial-1 overflow-visible bg-dark bg-img cover-background dark-overlay" data-overlay-dark="4" data-background="~/img/bg/bg-08.png">
            <div class="container">
                <div class="content-box">
                    <div class="section-heading text-center mb-5 mb-md-5">
                        <span class="title-font text-primary display-25 display-md-23 d-block mb-1">Testimonials</span>
                        <h2 class="display-25 display-sm-20 display-md-20 display-xl-9 font-weight-600 mb-3 text-white">What Our <span class="fw-bolder text-secondary">Clients </span>Say</h2>
                    </div>
                    <div class="px-5 text-center">
                        <div class="testimonial-style1 owl-carousel owl-theme">
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                    <img class="rounded-circle mb-3" src="~/img/avatar/avatar-01.jpg" alt="...">
                                    <div class="text-center text-sm-start ps-sm-4">
                                        <h4 class="text-white">Alice Camm</h4>
                                        <span class="text-primary font-weight-600">Sports Nutritionist</span>
                                    </div>
                                </div>
                                <p class="text-white display-28 display-md-23">" Sport nutrition has completely surpassed our expectations. Since I invested in sport nutrition I made over 100,000 dollars profits. I was amazed at the quality of sport nutrition. "</p>
                                <div class="display-25 text-secondary">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                    <img class="rounded-circle mb-3" src="~/img/avatar/avatar-02.jpg" alt="...">
                                    <div class="text-center text-sm-start ps-sm-4">
                                        <h4 class="text-white">Laure Ruel</h4>
                                        <span class="text-primary font-weight-600">Dietician</span>
                                    </div>
                                </div>
                                <p class="text-white display-28 display-md-23">" I Strongly recommend nutrition to everyone interested in running a successful online business! Thank you for making it painless, pleasant and most of all hassle free! I was amazed at the quality of nutrition. "</p>
                                <div class="display-25 text-secondary">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                    <img class="rounded-circle mb-3" src="~/img/avatar/avatar-03.jpg" alt="...">
                                    <div class="text-center text-sm-start ps-sm-4">
                                        <h4 class="text-white">Kiara Boyd</h4>
                                        <span class="text-primary font-weight-600">Nutritionist</span>
                                    </div>
                                </div>
                                <p class="text-white display-28 display-md-23">" Dietician saved my business. Needless to say we are extremely satisfied with the results. I will let my mum know about this, she could really make use of dietician! "</p>
                                <div class="display-25 text-secondary">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- BLOG
        ================================================== -->
        <section class="overflow-visible">
            <div class="container">
                <div class="section-heading">
                    <span class="title-font text-primary display-25 display-md-23 d-block mb-1">Our blogs</span>
                    <h2 class="display-25 display-sm-20 display-md-20 display-xl-9 font-weight-600 mb-3">Most Recent Article Of<span class="fw-bolder text-secondary"> Nutrition</span></h2>
                    <p class="mb-0 w-md-80 w-lg-70 w-xl-50 mx-auto">We connect buyers and sellers of natural, organic, environmentally sound products. We find the best suppliers and makers of natural and organic products.</p>
                </div>
                <div class="row mt-n2-6">

                    <div class="col-md-6 col-xl-4 mt-2-6">
                        <article class="card card-style3">
                            <div class="blogs-image">
                                <img src="~/img/blog/blog-01.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <ul class="list-style">
                                    <li><a href="#!">April 30</a></li>
                                    <li><a href="#!">12 Comment</a></li>
                                </ul>
                                <h4 class="h5 text-capitalize mb-0"><a href="blog-details.html">The Exercise Improve Your health to do Daily Activities.</a></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-6">
                        <article class="card card-style3">
                            <div class="blogs-image">
                                <img src="~/img/blog/blog-02.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <ul class="list-style">
                                    <li><a href="#!">Mar 30</a></li>
                                    <li><a href="#!">04 Comment</a></li>
                                </ul>
                                <h4 class="h5 text-capitalize mb-0"><a href="blog-details.html">The Water Regulate body temperature through sweating.</a></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-6">
                        <article class="card card-style3">
                            <div class="blogs-image">
                                <img src="~/img/blog/blog-03.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <ul class="list-style">
                                    <li><a href="#!">Feb 30</a></li>
                                    <li><a href="#!">04 Comment</a></li>
                                </ul>
                                <h4 class="h5 text-capitalize mb-0"><a href="blog-details.html">By slow eating , you can know the portion size actually needs.</a></h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- CLIENTS
        ================================================== -->
        <section class="p-1-9 p-md-5 bg-light">
            <div class="container">
                <div class="owl-carousel owl-theme client-style1 text-center">
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/01.png" alt="...">
                        <img class="main-image" src="~/img/partners/01.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/02.png" alt="...">
                        <img class="main-image" src="~/img/partners/02.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/03.png" alt="...">
                        <img class="main-image" src="~/img/partners/03.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/04.png" alt="...">
                        <img class="main-image" src="~/img/partners/04.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/05.png" alt="...">
                        <img class="main-image" src="~/img/partners/05.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/06.png" alt="...">
                        <img class="main-image" src="~/img/partners/06.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/07.png" alt="...">
                        <img class="main-image" src="~/img/partners/07.png" alt="...">
                    </div>
                    <div class="image-wrapper">
                        <img class="hover-image" src="~/img/partners/08.png" alt="...">
                        <img class="main-image" src="~/img/partners/08.png" alt="...">
                    </div>
                </div>
            </div>
        </section>

</body>